<!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
 <![endif]-->
 
<div class="container footer-bg">
<div class="row footer">
<div class="col-md-3">
<ul>
<h4>CommerceConnect</h4>
{exp:navee:custom nav_title="footer-1" wrap_type="none" first_class="first" last_class="last" id="sub-nav" selected_class="on"}
   <li class="{class}"><a href="{link}">{text}</a>{kids}</li>
{/exp:navee:custom}
</ul>
</div>

<div class="col-md-3">
<ul>
<h4>Find Us</h4>
{exp:navee:custom nav_title="footer-2"  wrap_type="none" first_class="first" last_class="last" id="sub-nav" selected_class="on"}

   <li class="{class}"><a href="{link}">{text}</a>{kids}</li>
{/exp:navee:custom}
</ul>
</div>
<div class="col-md-6">
<ul>
<h4>Keep informed with Commerce Connect<br />
Subscribe to our Updates</h4>

    <form class="form-horizontal " action="http://exceedmail.createsend.com/t/y/s/cujfr/" method="post" id="popup-newsletter">
     <div class="control-group">
    <div class="controls">
    <input type="text" name="cm-name" id="inputName" class="form-control name" placeholder="Name">
    </div>
    </div>
    <div class="control-group">
    <div class="controls">
    <input type="text" name="cm-cujfr-cujfr" id="inputEmail" class="form-control email" placeholder="Email Address">
    </div>
    </div>
   
    <div class="control-group">
    <div class="controls">
    <button type="submit" class="btn btn-inverse">Send</button>
    </div>
    </div>
    </form>
</ul>
</div>

</div>
</div>
<div class="container credit">{site-credit}</div>
<!-- JS -->
{js}
<!-- JS -->
</body>
</html>