<!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
   
     
      <div class="container">

   <div class="row-fluid">
  <div class="col-md-8 pull-left"><a class="navbar-brand" href="/"><img src="{site_url}/images/cc-logo.jpg" class"img-responsive"></a></div>
  <div class="col-md-3 pull-right purple call hidden-xs">Call Us Today: 1300 356 969</div>
</div>
<div class="clearfix"></div>

       
     
<div class="navbar-collapse collapse hidden-xs">
{exp:navee:custom nav_title="top" wrap_type="ul" class="nav navbar-nav" last_class="last" kids_class='dropdown-menu' id="sub-nav" selected_class="on"}
   <li class="{class}"><a href="{link}" >{text}</a>{kids}</li>
{/exp:navee:custom}
          
</div>

   <div class="navbar-mobile">      
  <script type="text/javascript"> function go(){window.location=document.getElementById("link").value}</script>
 <select name="" id="link" onchange="go()" class="form-control">
   <ul class='sf-menu'>
  {exp:navee:custom nav_title="top" wrap_type="" class="nav navbar-nav" last_class="last" kids_class='dropdown-menu' selected_class="on"}
   <option class="{class}" value="{link}">{text}{kids}</option>
{/exp:navee:custom}
              
   </select>   
   </div>




<!-- /.navbar-collapse -->
</nav>

          <!--
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            
            --><!--/.nav-collapse -->
            
    
        
        </div>
        


      </div>
    </div>


