{embed="site/_header"}

<!-- Wrapper -->
<div id="wrapper">
<!------------------------------ MAIN ------------------------------>
{embed="site/_top_nav"}
<!------------------------------ MAIN ------------------------------>



 <div class="navbar container-full">
 


<div class="container">


 <!-- Carousel ================================================== -->
    <div id="myCarousel" class="carousel slide hidden-xs">
      <!-- Indicators -->
 
    <a class="left" href="#myCarousel" data-slide="prev"><span class="slider-left"></span></a>
      <a class="right" href="#myCarousel" data-slide="next"><span class="slider-right"></span></a>
     
      <div class="carousel-inner">
      {exp:channel:entries channel="homepage" limit="1" orderby="date"}
      
        <div class="item active">
         <a href="{banner_1_link}"> <img src="{banner_option_one}" alt="First slide" class="img-responsive" height="340"></a>
        </div>
        
        {if banner_option_two !=''}
        <div class="item">
         <a href="{banner_2_link}"> <img src="{banner_option_two}" alt="Second slide" class="img-responsive" height="340"></a>
         <!-- 
         <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
            </div>
          </div> 
          -->
          
        </div>
        {/if}
        
        {if banner_option_three !=''}
        <div class="item">
          <a href="{banner_3_link}"> <img src="{banner_option_three}" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide" class="img-responsive"></a>
        </div>
        {/if}
        
 {/exp:channel:entries}       
      </div>
 
    </div><!-- /.carousel -->

</div>
</div>

<!-- CONTAINER -->

<div class="container">
<div class="row banner-enq">
 <a data-toggle="modal" href="#myModal"><img src="{site_url}images/home-enq-button.png" alt="Enquire Now" class="img-responsive"/> </a> 
  </div>


<div class="row banner-logos hidden-xs"> 
<ul>
{exp:channel:entries channel="brand_logos_homepage" limit="5" orderby="random"}
 {if brand_link !=''}
 <li><a href="{brand_link}" target="_blank"><img src="{brand_logo}" class="greyscale"/></a></li>
{/if}
{/exp:channel:entries}
 </ul>
</div>  


    <div class="row homeblocks">
      {exp:channel:entries channel="homepage" limit="1" orderby="date"}
        <div class="col-md-3"><div class="content-block-h"><h2>{block_title_one}</h2>{content_block_1}</div><a href="{block_1_link}{block_1_link:page_url}{/block_1_link}"><button type="button" class="btn btn-default">Learn More</button></a></div>
        <div class="col-md-3"><div class="content-block-h"><h2>{block_title_two}</h2>{content_block_2}</div><a href="{block_2_link}{block_2_link:page_url}{/block_2_link}"><button type="button" class="btn btn-default">Learn More</button></a></div>
        <div class="col-md-3"><div class="content-block-h"><h2>{block_title_three}</h2>{content_block_3}</div><a href="{block_3_link}{block_3_link:page_url}{/block_3_link}"><button type="button" class="btn btn-default">Learn More</button></a></div>
        <div class="col-md-3"><div class="content-block-h"><h2>{block_title_four}</h2>{content_block_4}</div><a href="{block_4_link}{block_4_link:page_url}{/block_4_link}"><button type="button" class="btn btn-default">Learn More</button></a></div>
     
      </div>

      <hr>

{footer_banner_link}
<a href="{footer_banner_link:page_url}">
<div class="footer-banner">
<h2>Make it Simple...</h2>
<h4>With CommerceConnect we remove the constraints to your business</h4>
</div>
</a>
{/footer_banner_link}


{/exp:channel:entries}

</div> <!-- /container -->





<!-- Wrapper Close-->
</div>

<!-- Page Content Ends -->
<!-- ending #siteinfo -->
</div>
<script type="application/javascript" language="javascript">
$(function(){
    $('.carousel').carousel({
      interval: 2000
    });
});
</script>
{modal-window}
{embed="site/_footer"}