{embed="site/_header"}

<!-- Wrapper -->
<div id="wrapper">
<!------------------------------ MAIN ------------------------------>
{embed="site/_top_nav"}
<!------------------------------ MAIN ------------------------------>
<span class="clear"></span>


 <div class="container">
 
 {exp:channel:entries channel="site" limit="1" orderby="date"}
 
<div class="container-fluid subpage">
    
    <div class="row">
     <span class="cnr"><a data-toggle="modal" href="#myModal"><img src="{site_url}images/but-enquire.png" width="142" height="47" class="pull-right"/></a></span>
     
    {if primary_feature_image !=''}<h1 class="text-margin">{title}</h1>
    <div style="text-align: center;">
    <img src="{primary_feature_image}" class="img-responsive" alt="{title}" /></div>
	{/if}  
    
    <div {if include_right_column !='No'}class="col-xs-12 col-md-8" style="padding-right:40px"{if:else}class="col-md-12"{/if}>
    
    <!--Primary content-->
    {if primary_feature_image ==''}
    <h1>{title}</h1>
    {/if}
    
 <hr />  
        
  {primary_content}
  
 
  <div class="clearfix"></div>
  
  {related_content_page limit="1"}
  {if {count} == 1}
  <hr />
 <h3>Find out more about CommerceConnect</h3> {/if}{/related_content_page}
  {related_content_page}
  <a href="{related_content_page:page_url}">{related_content_page:title}</a><br />
  {/related_content_page}


  

    
    </div>
{if include_right_column =='Yes'}
<div class="col-md-1"></div>

<div class="col-md-4 right-col">
<!--Sidebar content-->

{if dispaly_navigation_in_right_col =='Yes'}    
<!-- SUB NAV -->
<div class="subnav">
<h3>Navigation</h3>
{exp:navee:custom nav_title="top" start_nav_from_parent="true"  wrap_type="ul" last_class="last" selected_class="on"}
<li class="{class}"><a href="{link}">{text}</a>{kids}</li>
{/exp:navee:custom}
</div>
<!-- SUB NAV -->
{/if}


<div class="clearfix"></div>
{free_text_area}

<div class="clearfix"></div>
<!-- {contact-right} -->

<div class="clearfix"></div>
</div>
{/if}
{/exp:channel:entries}

   <div {exp:channel:entries channel="site" limit="1"}{if include_right_column !='No'}style="display:none"{if:else}{/if}{/exp:channel:entries}/>
   <div class="clearfix"></div>
  {testimonials}
 </div>
 
 
 
</div>
</div>
    


       
</div>

</div> 
<!-- /container ends-->

</div>
<!-- Wrapper Close-->
<!-- Page Content Ends -->
<!-- ending #siteinfo -->
</div>
{modal-window}
{embed="site/_footer"}