body {position:relative;}

html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

 
/*--Making IE6 Understand Fixed Positioning--*/
 
*html #fade {
	position: absolute;
	top:expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollTop : document.body.scrollTop);
}
 
*html .popup_block {
	position: absolute;
	top:expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollTop
	+((documentElement.clientHeight-this.clientHeight)/2)
	: document.body.scrollTop
	+((document.body.clientHeight-this.clientHeight)/2));
	
	left:expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollLeft 
	+ (document.body.clientWidth /2 ) 
	: document.body.scrollLeft 
	+ (document.body.offsetWidth /2 ));
}
 
/*--IE 6 PNG Fix--*/
 
img{ behavior: url(/images/iepngfix.htc) }
#left    #juice-content2   {
	display: block;
	height: 150px;
	/*overflow: scroll;
	overflow-x: hidden;!important*/
	text-align: left;
	font-size: 20px;
	position: relative;
	text-align: left;
	margin: 0px;
	padding: 0px;
	margin-top:3px;
	width: 245px;
	float: left;
	font-weight:bold;
	line-height:18px;
	padding-left:3px;
	padding-right:0px;
	letter-spacing:-1px;
}
