{html_head}
{exp:seo_lite url_title="{segment_3}"}
{global_css}
{js} 
{favicon}
{html_head_end}
<!-- Wrapper -->
<div id="wrapper">
<!------------------------------ MAIN ------------------------------>
{global_header}
<!------------------------------ MAIN ------------------------------>
<span class="clear"></span>
<!-- Wrapper Close-->
</div>

<!-- Page Content Ends -->
{global_footer}
<!-- ending #siteinfo -->
</div>
{html_footer}