{html_head}
{exp:seo_lite url_title="{segment_3}"}
{global_css}
{js} 
{favicon}
{html_head_end}
<!-- Wrapper -->
<div id="wrapper">
<!------------------------------ MAIN ------------------------------>
{global_header}
<!------------------------------ MAIN ------------------------------>
<span class="clear"></span>

{exp:comment:entries channel="{exp:member:login_form return="{segment_1}/{segment_2}" name="login_form"}
	<p>
		<label>Username</label><br />
		<input type="text" name="username" value="" maxlength="32" class="input" size="25" />
	</p>
	<p>
		<label>Password</label><br />
		<input type="password" name="password" value="" maxlength="32" class="input" size="25" />
	</p>
	{if auto_login}
		<p><input class='checkbox' type='checkbox' name='auto_login' value='1' /> Auto-login on future visits</p>
	{/if}
	<p><input class='checkbox' type='checkbox' name='anon' value='1' checked='checked' /> Show my name in the online users list</p>
	<p><input type="submit" name="submit" value="Submit" /></p>
	<p><a href="{path=member/forgot_password}">Forgot your password?</a></p>
{/exp:member:login_form}" parameters}
	
{/exp:comment:entries}

<!-- Wrapper Close-->
</div>

<!-- Page Content Ends -->
{global_footer}
<!-- ending #siteinfo -->
</div>
{html_footer}