{embed="site/_header"}

<!-- Wrapper -->
<div id="wrapper">
<!------------------------------ MAIN ------------------------------>
{embed="site/_top_nav"}
<!------------------------------ MAIN ------------------------------>
<span class="clear"></span>


 <div class="container">
 

 
     <div class="container-fluid subpage">
    <div class="row-fluid">
      <span class="cnr"> <a data-toggle="modal" href="#myModal"><img src="{site_url}/images/but-enquire.png" width="142" height="47" class="pull-right"/></a></span>
    <div class="span8 blog-content">
    <!--Primary content--> 
    
    {exp:channel:entries channel="blog" limit="1" orderby="date"}
    <h1>{title}</h1>
  <p>Posted on {entry_date format="%F %d %Y"} &nbsp;&nbsp;|&nbsp;&nbsp; Posted By <a href="mailto:{authors_email}">{article_author}</a> &nbsp;&nbsp;|&nbsp;&nbsp; Category:<a href="{path='blog/categoriesx'}">{categories}
        {category_image}
        <a href="{path='blog/categories'}">{category_name}</a>
{/categories}</a></p>

<div class="social-bar">
<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_googleplus_hcount' displayText='Google +'></span>
</div>

<div class="clearfix">

</div>
{article_body}
  
  
     {/exp:channel:entries}
    </div>

    <div class="span3">
    <!--Sidebar content-->
    <div class="subnav" style="margin-top:20px">
    <h3>Navigation</h3>
{exp:channel:categories}
    <a href="{path='blog/index'}">{category_name}</a>
{/exp:channel:categories}
</div>
    {modal-window}
    
    {exp:channel:entries channel="blog" limit="1" orderby="date"}    
    {free_text_area}
     {/exp:channel:entries}
    </div>

    </div>
    </div>
    

       
      </div>
   


</div> 
<!-- /container ends-->






</div>
<!-- Wrapper Close-->
<!-- Page Content Ends -->
<!-- ending #siteinfo -->
</div>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-ceae96b1-e9b3-fb3d-68bf-d948df061919", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{embed="site/_footer"}