{embed="site/_header"}

<!-- Wrapper -->
<div id="wrapper">
<!------------------------------ MAIN ------------------------------>
{embed="site/_top_nav"}
<!------------------------------ MAIN ------------------------------>
<span class="clear"></span>


 <div class="container">
 

 
     <div class="container-fluid subpage">
    <div class="row-fluid">
    <div class="span10">
    <!--Primary content-->
<h1> Latest Articles </h1>
  <hr />
	<div class="row">
 {exp:channel:entries channel="blog" orderby="date"}   <div class="col-sm-6 col-md-4">
   
   
   <div class="thumbnail">
      <img src="{article_thumbnail}" alt="{title}">
      <div class="caption">
        <h3>{title}</h3>
        <p class="small">Posted on {entry_date format="%F %d %Y"}</p>
        <hr />
        <p>{article_sub_header}</p>
        <p><a href="{page_url}" class="btn btn-primary">Read More</a> </p>
      </div>
    </div>
     
  </div>{/exp:channel:entries}
</div>
   
        

  

    
    </div>

    </div>
    </div>
    

       
      </div>
   


</div> 
<!-- /container ends-->






</div>
<!-- Wrapper Close-->
<!-- Page Content Ends -->
<!-- ending #siteinfo -->
</div>

{embed="site/_footer"}