<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{site_url}/assets/bootstrap/bootstrap-responsive.css"/>
<link rel="stylesheet" type="text/css" href="{site_url}/assets/bootstrap/bootstrap.css"/>

<!-- ADDON -->
<link rel="stylesheet" type="text/css" href="{site_url}/assets/bootstrap/lightbox.css"/>
<link rel="stylesheet" type="text/css" href="{site_url}/assets/bootstrap/addon/carousel.css"/>
<link rel="stylesheet" type="text/css" href="{site_url}/assets/bootstrap/addon/navbar-fixed-top.css"/>


<!-- CSS -->
<link href="{site_url}index.php/site/site_css" type="text/css" rel="stylesheet" media="screen" />
<!--[if IE]>
<link href="{site_url}index.php/site/ie_css" type="text/css" rel="stylesheet" media="screen" />
<![endif]-->
