<!-- Contact Form Here -->
<h2>Get in touch..</h2><br />
<div id="contact-form">
{exp:email:contact_form user_recipients="false" recipients="jennifer.svanstrom@gmail.com" replyto="y" charset="utf-8" redirect="2" return="{segment_3}"}
  <input name="subject" type="hidden" value="Response From  - {page_url}">
  <table width="500" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="40%" align="left" valign="top">First Name: <span class="red">*</span></td>
      <td align="left" valign="top" scope="col"><span class="tbrow">
        <input name="required" type="text" id="name" size="40" class="form-control" />
      </span></td>
    </tr>
    <tr>
      <td align="left" valign="top">Surname: <span class="red">*</span></td>
      <td align="left" valign="top"><span class="tbrow">
        <input name="required" type="text" id="phone2" size="40" class="form-control" />
      </span></td>
    </tr>
    <tr>
      <td align="left" valign="top">Phone: <span class="red">*</span></td>
      <td align="left" valign="top"><span class="tbrow">
        <input name="required" type="text" id="phone7" size="40" class="form-control" />
      </span></td>
    </tr>
    <tr>
      <td align="left" valign="top">Email Address: <span class="red">*</span></td>
      <td align="left" valign="top"><span class="tbrow">
        <input name="from" type="text" id="email" size="40" class="form-control"/>
      </span></td>
    </tr>
    <tr>
      <td align="left" valign="top">Company Name: <span class="red">*</span></td>
      <td align="left" valign="top"><span class="tbrow">
        <input name="required" type="text" id="company" size="40" class="form-control" />
      </span></td>
    </tr>
    <tr>
      <td align="left" valign="top">Your Message:</td>
      <input type="hidden" name="message[]" cols="45" rows="3" class="form-control" id="comments" value="Comments" />
      <td align="left" valign="top"><textarea name="message[]" cols="45" rows="3" class="form-control" id="mymessage" ></textarea></td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td align="left" valign="top">
    
      <input type="submit" name="submit" class="btn btn-default" value="Submit">     </td>
    </tr>
  </table>

  {/exp:email:contact_form}
</div>