{exp:search:simple_form channel="news|site" result_page="search/results" no_result_page="search/no_results" search_in="everywhere"}
<fieldset>
    <label for="search">Search:</label>
    <input type="text" name="keywords" id="search" value=""  />
	<input type="image" id="submit" name="submit" class="submit" src="{site_url}themes/site_themes/site/images/but-search.gif" />
</fieldset>
{/exp:search:simple_form}