<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="{site_url}/assets/bootstrap/bootstrap.js"></script>

<script  type="text/javascript" src="{site_url}/assets/js/breakpoints.js"></script>
<script type="text/javascript" src="{site_url}/assets/bootstrap/bootstrap-lightbox.js"></script>

<!-- ADDON -->

<script type="text/javascript" src="{site_url}/assets/bootstrap/addon/modal.js"></script>

<script>
	$(document).ready(function()
	{
		prettyPrint();
	});
</script>