{exp:channel:entries channel="testimonials" limit="1" orderby="random" dynamic="off"}
<div class="row testimonial-footer">
<hr>
{if related_company_photo !=''}<div class="col-md-4"><span class="img-circle img-testimonial" style="background-image:url({related_company_photo})"></span></div>{/if}
<div class="col-md-4"><span class="img-circle img-testimonial" style="background-image:url({company_logo})"></span></div>
<div {if related_company_photo !=''}class="col-md-4" {if:else}class="col-md-8"{/if}>
  <h2>What our customers and partners say about CommerceConnect...</h2>{testimonial_content}</div>
</div>
{/exp:channel:entries}