{html_head}
{exp:seo_lite url_title="{segment_3}"}
{global_css}
{js} 
{favicon}
{html_head_end}
<!-- Wrapper -->
<div id="wrapper">
<!------------------------------ MAIN ------------------------------>
{global_header}
<!------------------------------ MAIN ------------------------------>
<span class="clear"></span>
<!-- Wrapper Close-->
</div>
<img src="http://www.placehold.it/180x180">
<!-- Page Content Ends -->
{global_footer}
<!-- ending #siteinfo -->

{html_footer}